<div>
    <h2>Ponuka strážení:</h2>
    <select class="form-select" style="float: left; width: 75%;" [(ngModel)]="selectedSpecies">
        <option *ngFor="let spec of species" [ngValue]="spec">
            {{ spec.druh }}
        </option>
    </select>
    <button type="button" class="btn btn-dark" style="width: 25%;" (click)="filterSpecies()">
        Hladať
    </button>
    <!-- <ul class="list-group" style="margin: 5% 0%">
        <li *ngFor="let animal of animals" class="list-group-item">
            {{animal.druh}} {{animal.pohl}}
        </li>
    </ul> -->
    <table class="table table-striped table-light table-bordered" style="margin: 5% 0%;">
        <thead>
            <tr><th>Druh</th><th>Cena</th><th>Majitel</th><th>Adresa</th><th>Kontakt</th><th style="max-width: 200px;">Poznamka</th></tr>
        </thead>
        <tbody>
            <tr *ngFor="let offer of offers">
                <td>{{offer.druh}}</td>
                <td>{{offer.cena}}</td>
                <td>{{offer.majitelMeno}}</td>
                <td>{{offer.majitelAdresa}}</td>
                <td>{{offer.majitelKontakt}}</td>
                <td>{{offer.poznamka}}</td>
            </tr>
        </tbody>
    </table>
</div>
