<h3 style="text-align: center; margin: 2%;">Prihlásenie</h3>
<div style="text-align: center;">
    <label for="userName" class="col-sm-2 col-form-label">Meno a priezvisko</label>
    <input type="text" id="userName" class="form-control" style="width: 20%; margin: auto;" [(ngModel)]="userName" name="userName">
    <button type="button" class="btn btn-success" style="margin: 1%;" (click)="validateUser()">Prihlásiť</button>
    <div *ngIf="!found" class="alert alert-danger" role="alert" style="width: 40%;">
        Zlé prihlasovacie údaje!
    </div>
</div>
