.main {
    width: 70%;
    text-align: center;
    margin: auto;
}

.ng-valid[required] {
    border-left: 5px solid rgb(0, 192, 0);
   }
   .ng-invalid {
    border-left: 5px solid rgb(197, 3, 3);
   }
   