<div>
    <h2>Zvierata na strazenie:</h2>
    <select class="form-select" style="float: left; width: 75%;" [(ngModel)]="selectedSpecies">
        <option *ngFor="let spec of species" [ngValue]="spec">
            {{ spec.druh }}
        </option>
    </select>
    <button type="button" class="btn btn-dark" style="width: 25%;" (click)="filterSpecies()">
        Hladať
    </button>
    <!-- <ul class="list-group" style="margin: 5% 0%">
        <li *ngFor="let animal of animals" class="list-group-item">
            {{animal.druh}} {{animal.pohl}}
        </li>
    </ul> -->
    <table class="table table-striped table-light table-bordered" style="margin: 5% 0%;">
        <thead>
            <tr><th>Druh</th><th>Pohlavie</th><th>Od</th><th>Do</th><th>Poznamka</th><th>Majitel</th><th>Adresa</th><th>Kontakt</th></tr>
        </thead>
        <tbody>
            <tr *ngFor="let animal of animals">
                <td>{{animal.druh}}</td>
                <td>{{animal.pohl}}</td>
                <td>{{animal.datumOd}}</td>
                <td>{{animal.datumDo}}</td>
                <td>{{animal.poznamka}}</td>
                <td>{{animal.majitelMeno}}</td>
                <td>{{animal.majitelAdresa}}</td>
                <td>{{animal.majitelKontakt}}</td>
            </tr>
        </tbody>
    </table>
</div>